USE [master]
GO
/****** Object:  Database [blog]    Script Date: 12/7/2018 1:21:35 PM ******/
CREATE DATABASE [blog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'blog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.BINHPCSE62805\MSSQL\DATA\blog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'blog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.BINHPCSE62805\MSSQL\DATA\blog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [blog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [blog]
GO
USE [blog]
GO
/****** Object:  Table [dbo].[tblAboutMe]    Script Date: 12/7/2018 1:21:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAboutMe](
	[ID] [nvarchar](10) NOT NULL,
	[aboutMeDetail] [nvarchar](1000) NOT NULL,
	[sign] [nvarchar](50) NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_tblAboutMe] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBlog]    Script Date: 12/7/2018 1:21:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBlog](
	[ID] [nvarchar](10) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[imgDesc] [nvarchar](100) NOT NULL,
	[detail] [nvarchar](100) NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_tblBlog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCount]    Script Date: 12/7/2018 1:21:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCount](
	[count] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tblAboutMe] ([ID], [aboutMeDetail], [sign], [date]) VALUES (N'1', N'hahahahaha', N'CongBinh', CAST(N'2017-02-03' AS Date))
INSERT [dbo].[tblAboutMe] ([ID], [aboutMeDetail], [sign], [date]) VALUES (N'2', N'hohohohoho', N'MinhHieu', CAST(N'2017-05-04' AS Date))
INSERT [dbo].[tblAboutMe] ([ID], [aboutMeDetail], [sign], [date]) VALUES (N'3', N'hihihihihihihi', N'Admin', CAST(N'2018-01-12' AS Date))
INSERT [dbo].[tblBlog] ([ID], [title], [imgDesc], [detail], [date]) VALUES (N'1', N'Essential skills for a happy life!', N'./My Blog - us-123my-life.simplesite.com_files/i283445314544979646._szw480h1280_.jpg', N'hehehehehe', CAST(N'2015-11-16' AS Date))
INSERT [dbo].[tblBlog] ([ID], [title], [imgDesc], [detail], [date]) VALUES (N'2', N'You''ve gotta dance', N'./My Blog - us-123my-life.simplesite.com_files/i283445314544979646._szw480h1280_.jpg', N'NULLYou''ve gotta dance like there''s nobody watching', CAST(N'2017-02-03' AS Date))
INSERT [dbo].[tblBlog] ([ID], [title], [imgDesc], [detail], [date]) VALUES (N'3', N'Photo', N'./My Blog - us-123my-life.simplesite.com_files/i283445314544979644._szw1280h1280_.jpg', N'hahaha', CAST(N'2017-05-02' AS Date))
INSERT [dbo].[tblCount] ([count]) VALUES (39)
USE [master]
GO
